::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder { /* Firefox 18- */
  color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: black;  
}

:-ms-input-placeholder {  
  color: black;  
}

body {
  font-size: 100%;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

a {
  color: rgb(180, 210, 80);
  text-decoration: none;
}

.container {
  padding: 1em;
}

#title {
  border: 3px solid black;
  font-size: 0.8em;
  letter-spacing: -0.1em;
  text-align: center;
  text-transform: uppercase;
}

#search input {
  border-bottom: 3px solid black;
  font-size: 3em;
  font-weight: 600;
  width: 100%;
}

#questions {
  margin-top: 1em;
}

.question {
  margin-top: 1em;
}

.question h1 {
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1.1em;
  margin: 0.3em auto;
}

.response {
  display: block;
  font-size: 1em;
  line-height: 1.6em;
}

.response.closed {
  display: none;
}

/* React */
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}
