#main {
  background-image: none;
  width: 90%;
  margin: 0 20px 0 20px;
  height: auto;
  overflow: scroll;
  .white-container {
    border: 1px solid #a8a8a8;
    position: relative;
    background-color: white;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    p {
      font-size: 12px;
    }
  }
}
#main-nav {
  position: relative;
  left: -15%;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
}
#scroll-container {
  margin-top: 60px; 
  text-align: center;
  font-size: 80%;
  h2 { 
    color: #333;
  }
}
#arrow-scroll {
  background-image: url(../icons/arrow-scroll.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px auto;
  width: 12%;
  height: 75px;
  display: block;
  opacity: 0;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  transition-delay: .5s;
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  transition-duration: 3s;
}
#landing-container {
  margin: 0 auto 100px;
  font-size: 60px;
  #landing {
    position: relative;
    padding: 100px 0 400px;
    width: 690px;
    h2 {
      font-size: 80%;
      color: #a8a8a8;
      opacity: 0;
    }
    .fadein-first {
      -webkit-transition-delay: 1s;
      -moz-transition-delay: 1s;
      transition-delay: 1s;
      -webkit-transition-duration: 2s;
      -moz-transition-duration: 2s;
      transition-duration: 2s;
    }
    .fadein-second {
      color: #333;
      -webkit-transition-delay: 3s;
      -moz-transition-delay: 3s;
      transition-delay: 3s;
      -webkit-transition-duration: 2s;
      -moz-transition-duration: 2s;
      transition-duration: 2s;
    } 
  }
}

#profile-container {
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  transition-duration: 1.5s;
  .white-container {
    margin-right: 20px;
    float: left;
  }
  #profile-pic {
    position: relative;
    width: 130px;
    height: 130px;
    padding: 0;
    img {
      width: 100%;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
  }
  #profile-info {
    position: relative;
    width: 350px;
    height: 120px;
    h1 {
      margin: 10px 10px 5px 10px;
      font-size: 110%;
    }
    p {
      color: #a0a0a0;
      font-size: 65%;
      line-height: 18px;
      padding: 10px;
    }
  }
  #profile-follow {
    position: relative;
    width: 147px;
    height: 120px;
    h1 {
      margin: 10px 10px 10px 10px;
      font-size: 110%;
    }
    .social {
      width: 100%;
      overflow: hidden;
      img {
        width: 25px;
        border-radius: 20px;
      }
      ul {
        overflow: hidden;
        list-style: none;
        width: 85%;
        margin: 0 auto;
        li {
          float: left;
          padding: 4px 8px 3px;
          -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          -ms-transition: all .4s ease;
          -o-transition: all .4s ease;
          transition: all .4s ease;
          // &:hover {
          //   -webkit-transform: translate(0px,-1px);
          //   -moz-transform: translate(0px,-1px);
          //   -ms-transform: translate(0px,-1px);
          //   -o-transform: translate(0px,-1px);
          //   transform: translate(0px,-1px);
          // }
        }
      }
    }
  }
  #profile-artists {
    margin-top: 20px;
    text-align: center;
    width: 694px;
    height: 220px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    h1 {
      margin: 5px auto 10px;
    }
    
  }
  .artist-pic {
    height: 178px;
    width: 25%;
    float: left;
    img {
      width: 150px;
    }
    p {
      text-align: center;
    }
  }
  #cover-letter {
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 684px;
    p {
      padding: 10px;
      line-height: 20px;
    }
  }
}
#apps-container {
  margin: 0 auto;
  .app-wrapper {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    clear:both;
  }
  .app-pic {
    width: 200px;
    float: left;
    margin-right: 20px;
    img {
      width: 100%;
    }
  }
  .app-info {
    width: 452px;
    float: left;
    h2, p {
      margin: 10px 0 5px 10px;
    }
    h2 {
      margin-top: 5px;
    }
  }
}
#apps {
  clear: both;
}
#resume, #apps, #follow, #profile {
  width: 692px;
  margin-top: 20px;
  line-height: 36px;
  border-bottom: 1px solid #a8a8a8;
  margin-bottom: 20px;
}
#resume-container {
  margin: 0 auto;
  .resume {
    padding: 20px;
    width: 654px;
    h3 {
      color: #41b1cb;
    }
  }
}
#follow-container {
  margin: 0 auto;
  .follow {
    text-align: center;
    width: 684px;
    height: 60px;
    margin-bottom: 60px;
  }
  p {
    padding: 22px;
  }
}
#landing-container, #profile-container, 
#apps-container, #resume-container, #follow-container {
  width: 65%;
}

@media only screen and (max-width: 1220px) {
  #landing-container, #profile-container, 
  #apps-container, #resume-container, #follow-container {
    width: 80%;
  }
}
@media only screen and (min-width: 891px) and (max-width: 1020px) {
  #landing-container, #profile-container, 
  #apps-container, #resume-container, #follow-container {
    width: 90%;
  }
}
@media only screen and (max-width: 890px) {
  #landing-container, #profile-container, 
  #apps-container, #resume-container, #follow-container {
    width: 97%;
  }
}
@media only screen and (max-width: 321px) {
  #wrapper {
    width: 320px;
    min-width: 300px;
  }
  #main-nav {
    display: none;
  }
  #main {
    margin: 0 2px;
    left: 1px;
    width: 300px;
    #landing-container {
      font-size: 37px;
      margin: 0 3%;
      #landing {
        width: 100%;
        #arrow-scroll {
          width: 30%;
        }
      }
    }
    #profile-container {
      width: 90%;
      .white-container {
        float: none;
      }
      #profile {
        width: auto;
      }
      #profile-info {
        width: 257px;
        margin-top: 7%;
      }
      #profile-pic {
        width: 100%;
        height: auto;
      }
      #profile-follow {
        width: 257px;
        margin-top: 7%;
      }
      #profile-artists {
        display: none;
      }
      #cover-letter {
        width: 95%;
      }
    }
    #apps-container {
      width: 90%;
      #apps {
        width: auto;
      }
      .app-info {
        width: 258px;
      }
      .app-pic {
        width: 95%;
        margin-bottom: 2%;
      }
    }
    #resume-container {
      width: 90%;
      #resume {
        width: auto;
      }
      .resume {
        width: 239px;
      }
    }
    #follow-container {
      width: 90%;
      p {
        padding: 16px;
      }
      .white-container {
        width: 100%;
      }
      #follow {
        width: auto;
      }
      .follow {
        width: 100%;
      }
    }
  }
}
