<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>brice lin | {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css /css/main.css -->
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/dropit.css">
    <link rel="stylesheet" href="/styles/syntax.css">
    <link rel="stylesheet" href="/styles/rtg.css">
    <!-- endbuild -->

    <!-- build:js js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<header id="main-header" class="container {{page.class}}">
    <h1 id="name"><a href="/">BRICE LIN</a></h1>
    <h2 id="role">
        <span>I am a </span>
        <ul class="menu">
            <li>
                <a href="#">{{ page.role }}</a>
                <ul>
                    <li>
                        <a href="/tech">web developer</a>
                        <a href="/photos">photographer</a>
                        <a href="/blog">writer</a>
                    </li>
                </ul>
            </li>
        </ul>
    </h2>
</header>

    <div id="main">

    {{ content }}

    </div>


    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
