@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);
/* ==========================================================================
   Base
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000313}}
::-moz-selection {
  background: #bcdff5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000316}}
::selection {
  background: #bcdff5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000320}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000325}}
body {
  font: 100%/1.5 'Source Sans Pro', serif;
  background-color: #fff;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000331}}
a {
  text-decoration: none;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000336}}
h1, h2 {
  font-weight: 400;
  margin: 5px 0;
}

/* ==========================================================================
   Layout
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000346}}
.container {
  padding: 0 16%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000350}}
#main-header {
  font-family: 'Merriweather';
  background-color: #fff;
  color: #000;
  height: 130px;
  width: 100%;
  padding-top: 30px;
  position: fixed;
  z-index: 100;
  -webkit-transition: all .5s;
  transition: all .5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000361}}
#main-header h1, #main-header h2 {
  line-height: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000364}}
#main-header h1 {
  font-size: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000367}}
#main-header h2 {
  font-size: 1.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000370}}
#main-header #name {
  -webkit-transition: all .7s;
  transition: all .7s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000373}}
#main-header #name a {
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000379}}
#main-header.sticky {
  height: 4em;
  padding: 10px 16% 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000382}}
#main-header.sticky #name {
  font-size: .9em;
}

@media only screen and (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000388}}
  #main-header {
    padding: 30px 6% 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000391}}
  #main-header.sticky {
    padding: 10px 6% 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\0000396}}
#main {
  font-size: 120%;
  font-weight: 100;
  padding-top: 6.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003100}}
#main h2 {
  font-family: 'Merriweather', serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003105}}
.posts {
  font-family: 'Source Sans Pro';
  margin-bottom: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003108}}
.posts img {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003113}}
.meta {
  color: #7E7E7E;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003117}}
#tech-copy {
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003121}}
.social {
  clear: both;
  padding-top: 2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003124}}
.social img {
  width: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003127}}
.social ul {
  overflow: hidden;
  padding: 0 2%;
  width: 70%;
  margin: 1em auto;
  list-style-type: none;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003134}}
.social ul li {
  width: 33%;
  float: left;
  -webkit-transition: all 0.2s cubic-bezier(0.15, 1, 0.85, 0.93);
  transition: all 0.2s cubic-bezier(0.15, 1, 0.85, 0.93);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003139}}
.social ul li:hover {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

/* ==========================================================================
   Module
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003152}}
.bb-underline a {
  border-bottom: 1px dashed #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003156}}
.post-item {
  float: left;
  width: 46%;
  text-align: justify;
  color: #474747;
  font: 200 100%/1.7 'Source Sans Pro', sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003164}}
.left, .web-app:nth-child(even) {
  margin-right: 38px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003168}}
.web-app {
  font-size: 80%;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003171}}
.web-app ul {
  padding: 15px;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003175}}
.web-app img {
  width: 100%;
  border: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003179}}
.web-app h3 {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003184}}
#spotify {
  color: #8dcc33;
}

/* ==========================================================================
   State
   ========================================================================== */
/* ==========================================================================
   Theme
   ========================================================================== */
@media only screen and (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003198}}
  .container {
    padding: 0 6%;
  }
}
@media only screen and (max-width: 540px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003203}}
  .post-item {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003208}}
  #main-header {
    text-align: center;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003212}}
  #main h1 {
    font-size: 1.3em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003215}}
  #main h2 {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003222}}
  body {
    font-size: 8px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003225}}
  #main-header {
    height: 12%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003228}}
  #main-header.sticky {
    height: 5em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bricelin\/code\/bricelinPortfolio\/styles\/sass\/main\.scss}line{font-family:\00003231}}
  #main {
    padding-top: 10em;
  }
}
